<?xml version="1.0" encoding="UTF-8"?>
<museekd>
  <domain id="autojoin">
    <key id="ARGENTINA"/>
    <key id="museek"/>
  </domain>
  <domain id="banned">
    <key id="Juanjo_1981"/>
    <key id="aleb27"/>
    <key id="djpino"/>
  </domain>
  <domain id="buddies">
    <key id="Cicely"/>
    <key id="azurreal"/>
    <key id="jon138">genio</key>
    <key id="szmaragd"/>
  </domain>
  <domain id="buddy.shares">
    <key id="database">/home/deimos/.museekd/config.buddyshares</key>
  </domain>
  <domain id="clients">
    <key id="connectmode">passive</key>
  </domain>
  <domain id="clients.bind">
    <key id="first">2234</key>
    <key id="last">2240</key>
  </domain>
  <domain id="default-ticker">
    <key id="ticker">// OPERACIÓN PAPAMOVIL : Necesitamos falcon verde, permutamos por memoria //</key>
  </domain>
  <domain id="encoding">
    <key id="filesystem">UTF-8</key>
    <key id="network">UTF-8</key>
  </domain>
  <domain id="encoding.users">
    <key id="Cicely">ISO8859-15</key>
    <key id="algolyester">ISO8859-16</key>
    <key id="azurreal">ISO8859-15</key>
    <key id="badinhoHome">ISO8859-15</key>
    <key id="djpino">ISO8859-15</key>
    <key id="eno21">ISO8859-15</key>
    <key id="gabim">ISO8859-15</key>
    <key id="javierh">ISO8859-15</key>
    <key id="leandros">ISO8859-15</key>
    <key id="magicoydelicioso">ISO8859-16</key>
    <key id="pount89">ISO8859-15</key>
    <key id="zql">ISO8859-15</key>
  </domain>
  <domain id="ignored">
    <key id="Juanjo_1981"/>
    <key id="aleb27"/>
    <key id="djpino"/>
  </domain>
  <domain id="interfaces">
    <key id="password">carpediem</key>
  </domain>
  <domain id="interfaces.bind">
    <key id="/tmp/museekd.deimos"/>
    <key id="localhost:2240"/>
  </domain>
  <domain id="museekd">
    <key id="version">0.3.0</key>
  </domain>
  <domain id="priv_rooms">
    <key id="enable_priv_room">true</key>
  </domain>
  <domain id="server">
    <key id="host">server.slsknet.org</key>
    <key id="password">carpediem</key>
    <key id="port">2242</key>
    <key id="username">pointtonunll</key>
  </domain>
  <domain id="shares">
    <key id="database">/home/deimos/.museekd/config.shares</key>
  </domain>
  <domain id="tickers">
    <key id="ARGENTINA">// OPERACIÓN PAPAMOVIL : Necesitamos falcon verde, permutamos por memoria //</key>
  </domain>
  <domain id="transfers">
    <key id="autoclear_finished_downloads">false</key>
    <key id="autoclear_finished_uploads">false</key>
    <key id="autoretry_downloads">true</key>
    <key id="download-dir">/home/deimos/.mldonkey/incoming/files</key>
    <key id="download_blacklist"/>
    <key id="download_rate">0</key>
    <key id="download_slots">0</key>
    <key id="downloads">/home/deimos/.museekd/config.downloads</key>
    <key id="have_buddy_shares">false</key>
    <key id="incomplete-dir">/home/deimos/tmp/museekd</key>
    <key id="only_buddies">false</key>
    <key id="privilege_buddies">true</key>
    <key id="trusting_uploads">false</key>
    <key id="upload_rate">0</key>
    <key id="upload_slots">2</key>
    <key id="user_warnings">true</key>
  </domain>
  <domain id="trusted">
    <key id="Cicely"/>
    <key id="azurreal"/>
    <key id="jon138"/>
    <key id="szmaragd"/>
  </domain>
  <domain id="userinfo">
    <key id="image">/home/deimos/.museekd/config.image</key>
    <key id="text"/>
  </domain>
</museekd>
