<?xml version="1.0" encoding="utf-8"?>

<userconfig>
	<var name="device" value="OpenGL"/>
	<var name="fullscreen" value="false"/>
	<var name="left_blobby_color_r" value="0"/>
	<var name="left_blobby_color_g" value="0"/>
	<var name="left_blobby_color_b" value="255"/>
	<var name="left_blobby_oscillate" value="false"/>
	<var name="right_blobby_color_r" value="255"/>
	<var name="right_blobby_color_g" value="0"/>
	<var name="right_blobby_color_b" value="0"/>
	<var name="right_blobby_oscillate" value="false"/>
	<var name="show_shadow" value="false"/>
	<var name="left_script_name" value="com_11"/>
	<var name="right_script_name" value="reduced"/>
	<var name="left_player_human" value="false"/>
	<var name="right_player_human" value="true"/>
	<var name="left_player_name" value="Lefty"/>
	<var name="right_player_name" value="Righty"/>
	<var name="gamefps" value="75"/>
	<var name="global_volume" value="0.145000"/>
	<var name="mute" value="true"/>
	<var name="scoretowin" value="5"/>
	<var name="showfps" value="false"/>
	<var name="blood" value="false"/>
	<var name="background" value="infomaniac 04.bmp"/>
	<var name="network_side" value="1"/>
	<var name="use_remote_color" value="true"/>
	<var name="language" value="en"/>
	<var name="left_script_strength" value="15"/>
	<var name="right_script_strength" value="13"/>
	<var name="additional_network_server" value="0.0.0.0"/>
	<var name="rules" value="default.lua"/>
</userconfig>

