SHELL=/bin/sh
PATH="/sbin:/usr/sbin:/usr/local/sbin:/bin:/usr/bin:/usr/local/bin:/usr/bin/X11:/usr/games:/home/deimos/bin"
DISPLAY=":0.0"

# Todos los dias
#m    h     ddm mes dds   command
#0     0     *   *   *    mpc update
0     */12  *   *   *    conexion && sudo ~/bin/timeout 60 ntpdate 3.south-america.pool.ntp.org
5     0     *   *   *    crontab -l > .crontab
#5     0     *   *   *    matar fm forever > /dev/null
10    0     *   *   *    conexion && cd ~/programacion/github/configs; ./auto-update.sh > /dev/null 2>&1
*/10  *     *   *   *    conexion -qT 1 || sudo bin/timeout 30 dhclient eth0 >> ~/.mensajes
*/15  *     *   *   *    sudo killall dhclient > /dev/null 2>&1 || true
#*/5   *     *   *   *    chances 5 && conexion && timeout 600 processfeed -q >/dev/null 2>&1
#*/5   *     *   *   *    disponibilidad_ac
#30    */6   *   *   *    conexion && myips > /dev/null 2>&1
#*/5   *     *   *   *    conexion && mailparser
#*/30  *     *   *   *    conexion && (date; claro) >> ~/.claro.dat 2>/dev/null || true
0     4     *   *   *    radiotray stop
5     14    *   *   *    radiotray stop
30    7     *   *   *    radiotray stop
30    7     *   *   *    matar mplayer
#0     0     *   *   *    curl "http://vodeviltroupe.com.ar/index.php/tools/required/jobs?auth=7a125545072d9ebcff0941fddb409e17"
0     0     *   *   *    claro.saldo 3874695504 | wa.pipe milva 5493874695504 # Yo
0     0     *   *   *    claro.saldo 3875297119 | wa.pipe milva 5493875297119 # Jorge
0     0     *   *   *    claro.saldo 3874859553 | wa.pipe milva 5493874859553 # Ana




# Lunes a viernes
#m    h     ddm mes dds   command
45    11    *   *   1-6  matar mplayer; radiotray.intermezzo "Radio Salta" 25m
0     14    *   *   *    radiotray stop
*/20  10-13 *   *   1-5  conexion && enjasa.pago pago > enjasa.pago.html && mv enjasa.pago.html ~/documentos/temporales 2>/dev/null
10    11    *   *   1-5  alarma
40    13    *   *   1-5  alarma
10    22    *   *   1-5  alarma
1     11    *   *   1-5  for ag in 141 148 180; do enjasa.pago cc $ag; done

# Sabados
#m    h     ddm mes dds   command
15    11    *   *   6    alarma
15    14    *   *   6    alarma
40    20    *   *   6    alarma


## MlDonkey
##m    h     ddm mes dds   command
#*/10  *     *   *   *    cd descargas; ls|awk '/\.torrent$/{system("mv \"" $0 "\" ~/.mldonkey/torrents/incoming")}'
#*/30  *     *   *   *    mlnet > /dev/null 2>&1 || true
#55    23    *   *   *    timeout 60 mlshell -c kill > /dev/null 2>&1
#*/15  *     *   *   *    mlrotate > /dev/null 2>&1
#*/15  0-8   *   *   1-5  timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  9-13  *   *   1-5  timeout 60 mlshell -c -d maxdownload=36 auto_rate > /dev/null 2>&1
#*/15  14-16 *   *   1-5  timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  17-21 *   *   1-5  timeout 60 mlshell -c -d maxdownload=36 auto_rate > /dev/null 2>&1
#*/15  22-23 *   *   1-5  timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  0-9   *   *   6    timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  10-13 *   *   6    timeout 60 mlshell -c -d maxdownload=36 auto_rate > /dev/null 2>&1
#*/15  14-16 *   *   6    timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  17-20 *   *   6    timeout 60 mlshell -c -d maxdownload=36 auto_rate > /dev/null 2>&1
#*/15  21-23 *   *   6    timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  0-9   *   *   0    timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1
#*/15  10-13 *   *   0    timeout 60 mlshell -c -d maxdownload=36 auto_rate > /dev/null 2>&1
#*/15  14-23 *   *   0    timeout 60 mlshell -c -d maxdownload=400 auto_rate > /dev/null 2>&1

# Domingos
#m    h     ddm mes dds   command
10    14    *   *   0    alarma
30    17    *   *   0    claro.auto_trade 2>&1|tee -a ~/.claro.log|wa.pipe milva 5493874695504
